<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BOY OF THE YEAR</title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="css/base.css" />
    <link rel="stylesheet" href="css/fullpage.min.css" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_2935587_97eo1d0furr.css" />
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/style-1.css" />
    <link rel="stylesheet" href="css/style-2.css" />
    <link rel="stylesheet" href="css/style-3.css" />
    <link rel="stylesheet" href="css/style-4.css" />
    <link rel="stylesheet" href="css/style-5.css" />
    <link rel="stylesheet" href="css/jaliswall.css" />
    <script src="js/jQuery.mini.js"></script>
    <script src="js/fullpage.min.js"></script>
    <script src="js/jaliswall.js"></script>
    <script src="js/index.js"></script>
    <style>
        #fp-nav ul li a span {
            background-color: #fff !important;
        }

        .fp-bottom ul {
            width: 100%;
            text-align: center;
        }

        .fp-bottom ul li a span {
            background-color: rgb(255, 255, 255);
        }

        body {
            background-image: linear-gradient(#48f1d5, #fff, #ffa4a4);
        }
    </style>
</head>

<body>
    <div id="dowebok">
        <div class="section sec1" id="section2">
            <div class="sec1_circle1"></div>
            <div class="sec1_circle2"></div>
            <div class="sec1_circle3"></div>

            <main>
                <div class="main_left">
                    <div class="myPhoto current">
                        <a href="#">
                            <img src="./img/myphoto.jpg" alt="" />
                            <h3>Warren Hue</h3>
                            <p>88Rising</p>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>HOME</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>ABOUT BOTY</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>TEL</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>E-MAIL</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>SHARE</span>
                        </a>
                    </div>
                    <div>
                        <a href="#">
                            <p></p>
                            <span>MORE</span>
                        </a>
                    </div>
                </div>
                <div class="main_right">
                    <div class="content hidden" style="display: block">
                        <img src="img/logo.png" alt="" / class="touxiang">
                        <p>All for BOTY!</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/04.png" alt="" / class="touxiang">
                        <p>BOY OF THE YEAR</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/01.jpg" alt="" / class="touxiang">
                        <p>JADE</p>
                        <p>Jaded off your love</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/R-C.png" alt="" / class="touxiang">
                        <p>HANDSOME</p>
                        <p>+86 1xxxxxxxxxx</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/05.png" alt="" / class="touxiang">
                        <p>BOTY FREESTYLE#1</p>
                        <p>1319328827@qq.com</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/csgo05.webp" alt="" / class="touxiang">
                        <p>CHORDS AND PRESSURES</p>
                        <p>Share me to Instagram!</p>
                    </div>

                    <div class="content hidden">
                        <img src="img/03.jpg" alt="" / class="touxiang">
                        <p>RUNAWAY W ME</p>
                        <p>LISTEN AT SPOTIFY NOW!</p>
                    </div>
                </div>
            </main>
        </div>
        <div class="section sec2" id="section2">
            <div class="sec1_circle1"></div>
            <div class="sec1_circle2"></div>
            <div class="sec2_circle1"></div>
            <div class="sec2_circle2"></div>
            <div class="sec2_circle3"></div>
                <div class="sec2_main">
                    <div class="sec2_main_head">
                        <ul>
                            <li class="current1">
                                <a href="#">BOY OF THE YEAR</a>
                            </li>
                            <li><a href="#">WEST</a></li>
                            <li><a href="#">Too Many Tears</a></li>
                            <li><a href="#">SUGARTOWN</a></li>
                            <li><a href="#">ALIEN</a></li>
                            <li><a href="#">LOVE ＆ HATE</a></li>
                        </ul>
                    </div>
                    <div class="sec2_main_body">
                        <div class="sec2_main_body_content hidden" style="display: block">
                            <div class="sec2_main_body_content_left">
                                <p>CHORDS AND PRESSURES</p>
                                <p>THIRTYNINE</p>
                                <p>IN MY BAG</p>
                                <p>HANDSOME</p>
                                <p>I$$EY</p>
                                <p>W</p>
                                <p>DEMOSTAR BEENLIT</p>
                                <p>RUNAWAY W ME</p>
                                <p>BOTY FREESTYLE#1</p>
                                <p>OK WORD!</p>
                                <p>JADE</p>
                                <p>BOY OF THE YEAR</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-1.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>WEST</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/1000.webp" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>Too Many Tears</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-3.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>sugarbaby</p>
                                <p>blue jeans</p>
                                <p>head over heels</p>
                                <p>pluto</p>
                                <p>candy choppa</p>
                                <p>bye bye sugartown</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-4.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>ALIEN</p>
                                <p>YELLOW</p>
                                <p>HEARTS </p>
                                <p>FOREVER</p>
                                <p>UFO</p>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-7.jpg" alt="" />
                            </div>
                        </div>
                        <div class="sec2_main_body_content hidden">
                            <div class="sec2_main_body_content_left">
                                <p>WHITE DRESS</p>
                                <p>CHARACTERS</p>
                                <p>PINK INTERLUDE</p>
                                <p>6AM</p>
                                <P>LOVE MESSAGE </P>
                                <P>COMING SOON</P>
                                <a href="#"><p>Outlast</p></a>
                            </div>
                            <div class="sec2_main_body_content_right">
                                <img src="img/2-6.jpg" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="section sec3" id="section3">
                <div class="slide">
                    <img src="img/3-1.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="img/3-2.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="img/-3-3.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="img/3-4.jpg" alt="" />
                </div>
                <div class="slide">
                    <img src="img/3-5.jpg" alt="" />
                </div>
                <div>
                    <img src="img/3-6.jpg" alt=""/>
                </div>
            
            </div>
            <div class="section sec4" id="section4">
                <div class="sec4_circle1"></div>
                <div class="sec4_circle2"></div>
                <div class="sec4_circle3"></div>
                <div class="sec4_main_box">
                    <div id="sec4-app">
                        <div class="sec4_title"><h3 style="color:blueviolet">NEWS</h3></div>
                        <a href="https://www.youtube.com/watch?v=PutDqfNzXbU&list=RDPutDqfNzXbU&start_radio=1"><h2 style="text-align:center; color: cornflowerblue;">      Warren Hue - BOY OF THE YEAR (Official Music Video)        2022-04-28 </h2></a>
                        <a href="https://www.youtube.com/watch?v=_KzHGbpxMOY&list=RDPutDqfNzXbU&index=2"><h2 style="text-align:center; color: cornflowerblue;">  Rich Brian, NIKI, & Warren Hue - California (Official Music Video)  2022-04-27</h2></a>
                        <a href="https://www.youtube.com/watch?v=Gzcc1GvnexI&list=RDPutDqfNzXbU&index=3"><h2 style="text-align:center;color: cornflowerblue;">  Warren Hue - WEST (Official Music Video)   2022-04-28</h2></a>
                        <a href="https://www.youtube.com/watch?v=a1YCn6T7c8U&list=RDPutDqfNzXbU&index=6"><h2 style="text-align:center;color: cornflowerblue;">  Rich Brian & Warren Hue - Getcho Mans (Official Music Video)   2022-04-28</h2></a>
                        <a href="https://www.youtube.com/watch?v=ApD7n-ItbaU&list=RDPutDqfNzXbU&index=7"><h2 style="text-align:center;color: cornflowerblue;"> Warren Hue - W (with yvngxchris) [Official Music Video] 2022-04-28</h2></a>
                        <a href="https://www.youtube.com/watch?v=WZf9IkF7YHg&list=RDPutDqfNzXbU&index=11"><h2 style="text-align:center;color: cornflowerblue;">  “froyo” by 88rising, BIBI, Rich Brian (feat Warren Hue)  2022-04-28</h2></a>
                        <a href="https://www.youtube.com/watch?v=CNWAoeQFtVI&list=RDPutDqfNzXbU&index=17"><h2 style="text-align:center;color: cornflowerblue;"> 1999 WRITE THE FUTURE, Rich Brian, Zion.T - WORLD STOP TURNING (feat. Warren Hue) [Music Video] 2022-04-28</h2></a>
                        <div class="sec4_search">
                            <input
                                type="text"
                                name=""
                                id=""
                                placeholder="搜索"
                                @keyup.enter="searchEnter"
                                v-model="city"
                                class="sec4_input"
                            />
                            <button @click="clickButton" class="sec4_button">SEARCH</button>
                        </div>
                        <div class="sec4_select">
                            <a href="javascript:;" @click="changeCity('南昌')"></a>
                            <a href="javascript:;" @click="changeCity('杭州')"></a>
                            <a href="javascript:;" @click="changeCity('上海')"></a>
                            <a href="javascript:;" @click="changeCity('北京')"></a>
                            <a href="javascript:;" @click="changeCity('广州')"></a>
                        </div>
                        <ul class="sec4_ul">
                            <li v-for="item in weatherList" :key="index" class="sec4_li">
                                <div class="sec4_weather">
                                    <div class="tianqi">{{item.type}}</div>
                                    <div class="qiwen">{{item.low}}</div>
                                    <div class="date">{{item.date}}</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section sec5" id="section5">
                <video src="img/Apoc1.0000.mp4" autoplay muted loop controls></video>
            </div>
        </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/vue.js"></script>
</body>

</html>
